<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>rider SNS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body class="text-center">
    <div class="container">
      <form method='POST' action="{% url 'myapp:signup' %}">
        {% csrf_token %}
        <h1 class="h3 mb-3 font-weight-normal">Please Sign up</h1>
        <label>Username</label>
        {{ form.username }}
        {{ form.username.errors }}
        <br>
        <label>Email address</label>
        {{ form.email }}
        {{ form.email.errors }}
        <br>
        <label>Password</label>
        {{ form.password1 }}
        {{ form.password1.errors }}
        <br>
        <label>Confirm Password</label>
        {{ form.password2 }}
        {{ form.password2.errors }}
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Signup</button>
      </form>
    </div>
</body>
</html>
